@import "tailwindcss";

body {
  @apply min-h-screen bg-gradient-to-b from-[#333333] to-[#111111] text-gray-100;
}

.hero {
  background-color: #000;
  background-image: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.03),
    rgba(255, 255, 255, 0.03) 2px,
    transparent 2px,
    transparent 10px
  );
  background-size: 20px 20px;
}

.btn-dark {
  @apply bg-gray-700/80 hover:bg-gray-600/80 text-gray-100 px-3 py-1 rounded transition shadow-sm hover:shadow-lg;
}
